/****** General ***********/

:root {
  --main-color:#0065FC;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #DEEBFF;
  --white: #fff;
  --black: #000;
}

* {
  font-family: 'Raleway', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

nav img{
  padding: 30px 0;
  height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav li {
  padding: 30px 0;
  border-top: 2px solid transparent;
}

nav li:hover,
nav li:focus {
  color: var(--main-color);
  border-color: var(--main-color);
}

.hebergements a {
  display: block;
  width: calc((100% - 60px) / 3);
}

ul {
  margin:0;
  list-style-type: none;
  padding: 0;
}

nav ul{
  display: flex;
  gap: 70px;
  align-items: center;
}

li {
  display: inline-block;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

/****** la barre de recherche ***********/

form {
  display: flex;
  color: var(--white);
  font-weight: bold;
  padding: 15px;
  padding-left: 0;
  height: 50px;
}

.fa-location-dot {
  color: var(--black);
  font-size: 1rem;
  background-color: var(--main-bg-color);
  padding: 15px;
  border-radius: 15px 0 0 15px;
}

.fa-magnifying-glass {
  display: none;
}

form input {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

form button {
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1rem;
  border-radius: 0px 16px 16px 0px;
  padding: 15px;
  border: none;
}

/****** les filtres ***********/

.filters h2 {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.filters {
  display: inline-flex;
  gap: 15px;
  padding-top: 18px;
  flex-flow: row wrap;
  font-weight: bold;
}

.filters ul {
  display: flex;
  gap: 15px;
}

i {
  color: var(--main-color);
}

.filters li {
  border: 2px solid var(--main-bg-color);
  border-radius: 30px;
  padding: 4px 19px 4px 19px;
  height: 30px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.filters li:hover,
li:focus {
  background-color: var(--filter-bg-color);
}
/****** Info ***********/

.info {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.info .fa-info {
  color: var(--main-color);
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  padding: 5px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****** Main ***********/

body {
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****************** Hebergements ***********/

.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 30px;
}

.hebergements-cards .card {
  padding-bottom: 15px;
  gap: 4px;
  align-self: stretch;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

}

.hebergements-cards img {
  width: 100%;
  height: 114px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  display: flex;
  height: 80px;
  place-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 5px;
  gap: 8px;
}

.hebergements-cards .card-title {
  margin: 5px 0 0 0;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 0.9em;
}

.hebergements-cards .card-rating {
  color: var(--main-color);
}

.hebergements-cards .show-more {
  display: flex;
  align-items: flex-end;
}

.hebergements p {
  font-weight: bold;
  margin:0;
  align-self: stretch;
  font-size: 1.1rem;
}


/************** Populaires ******************/

.populaires {
  width: 32%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.populaires-cards .card {
  display: flex;
}

.populaires-cards img {
  width: 33%;
  height: 146px;
  border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 0;
}

.populaires-cards .card-subtitle {
  margin: 0px;
}

.populaires-cards .card-rating i{
  margin-bottom: 5px;
  padding: 0;
  width: 12px;
}

/***************** Activites ***********/
.activites {
  padding:30px;
}

.activites ul {

  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.activites li {
  width: calc((100% - 90px) / 4);
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
}

.activites img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activites figure {
  margin: 0;
  padding: 0;
}

.activites figcaption {
  display: flex;
  align-items: center;
  margin: -5px 0 0;
  padding: 20px;
  height: 40px;
  font-weight: bold;
}

/**************** ici le footer ************/

footer {
  background-color: var(--main-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

footer ul {
  display: flex;
  flex-direction: column;
  -webkit-columns: 2;
  /* Pour une compatibilité avec certains navigateurs WebKit */
  -moz-columns: 2;
  /* Pour une compatibilité avec Firefox */
}

footer li {
  margin-top: 15px;
}

footer h3 {
  margin: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

  .filters {
    display: flex;
    flex-direction: column;
  }

  .filters ul {
    padding-top: 0;
  }

  .info {
    margin:0;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards .card-content {
    width: 100%;
  }

  .hebergements-cards .card-title {
    margin: 0;
  }

  .hebergements-cards .card-subtitle {
    font-weight: normal;
    margin: 8px 0 0;
  }

  .hebergements-cards .card-rating {
    margin: 0;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
    gap: 20px;
  }

  .populaires-cards {
    flex-direction: row;
    gap: 20px;
    height: 136px;
  }

  .populaires-cards a {
    width: calc((100% - 40px) / 3);
    margin: 0;
  }

  .populaires-cards img {
    width: 40%;
    height: 136px;
  }

  .populaires-cards .card-title {
    font-size: 0.9rem;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.8rem;
  }

  .activites img {
    height: 190px;
    object-fit: cover;
    width: 100%;
  }

  .activites li {
    margin: 0;
  }

  .activites figcaption {
    font-size: 0.7rem;
    padding: 10px 10px 10px 15px;
  }
}

/*** Small devices (phones, less than 768px) ****/
@media (max-width: 767px) {
  
    .main-container {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;
    }
    
/* header responsive telephone */

    header section {
      padding: 0 20px;
    } 

    header form {
      padding: 0 20px;
      margin: 35px 0;
    }

    header .info {
      padding: 0 20px;
    }

    header nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav ul {
      display: flex;
      text-align: center;
      width: 100%;
      gap: 0;
    }

    nav li {
      border-bottom: 2px solid var(--main-bg-color);
      width: 50%;
      padding: 10px 0;
      border-top: none;
    }
    
    nav li:hover,
    nav li:focus {
      color: var(--main-color);
      border-color: var(--main-color);
    }

    header h1 {
      margin: 30px 0 8px 0;
    }

    form {
      border-radius: 15px;
      padding: 15px 0 15px 0;
    }

    form .fa-location-dot {
      padding: 18px;
    }

    .fa-magnifying-glass {
      display: block;
      color: var(--white);
    }

    form input {
      width: 100%;
      align-self: stretch;
      padding: 15px;
    }

    form i {
      color: var(--white);
      font-size: 17px;
      align-self: center;
    }

    form b {
      display: none;
    }

    form button {
      border-radius: 15px;
      box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2);
      padding: 17px 18px;
      margin-left: -15px;
    }

    .filters, .filters h2 {
      padding-top: 0;
    }

    .filters ul {
      display: flex;
      margin-bottom: 25px;
      flex-flow: row wrap;
      gap: 10px;
      width: 100%;

    }

    .filters li {
      display: flex;
      width: calc( (100% - 10px) / 2);
      box-sizing: border-box;
      height: 40px;
      font-weight: 700;
      align-items: center;
      margin-bottom: 10px;
      font-size: 0.75rem;
    }

    .filters i {
      display: flex;
      font-size: 1rem;
      align-items: center;
    }

    /*** main responsive telephone ***/

    main .populaires {
      display: flex;
      flex-direction: column;
      order: -1;
      border-radius: 0;
    }

    .populaires-cards {
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: 100%;
    }

    .populaires-cards .card {
      width: 100%;
    }
    
    .populaires-cards a {
      display: flex;
      width: 100%; 
    }

    .populaires-cards img {
      width: 33%;

    }

    .populaires-cards .card-title {
      font-size: 1rem;
    }

    .populaires-cards .card-subtitle {
      font-size: 0.8rem;
    }

    .populaires-cards .card-rating {
      font-size: 0.95rem;
      margin-top: 24px;
    }


    main .hebergements {
      background-color: var(--white);
      gap: 15px;
    }

    main .hebergements-cards {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .hebergements-cards a {
      width: 100%;
    }
  
    .hebergements-cards .card-title {
      font-size: 1rem;
    }

    .hebergements-cards .card-subtitle {
      font-size: 0.8rem;
    }

    .activites ul {
      flex-direction: column;
    }

    .activites li {
      width: 100%;
    }

    .activites img {
      height: 141px;
    }

    .activites figcaption {
      font-size: 0.9rem;
      padding: 20px 19px;
    }

    /*** footer responsive telephone ***/

    footer {
      flex-direction: column;
      padding: 30px;
      gap: 50px;
    }
  /* ... */
}